# Dependencies
node_modules/

# Production Build
dist/
dist-ssr/

# Environment Variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Vite
.vite/

# Local files
*.local

# IDEs
.vscode/*
!.vscode/extensions.json
.idea/

# OS files
.DS_Store
Thumbs.db

# Editor files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?