.container{

    width:90%;
    max-width:1100px;

    margin:auto;
    padding:40px 0;

}

h1{

    text-align:center;
    color:#1e3a8a;
    margin-bottom:10px;

}

.subtitle{

    text-align:center;
    color:#6b7280;
    margin-bottom:40px;

}

.search-form{

    display:flex;
    gap:15px;

    margin-bottom:40px;

}

.search-form input{

    flex:1;

    padding:15px;

    border:none;

    border-radius:12px;

    font-size:16px;

    box-shadow:0 5px 15px rgba(0,0,0,.08);

    outline:none;

}

.search-form input:focus{

    border:2px solid #2563eb;

}

.search-form button{

    background:#2563eb;

    color:white;

    border:none;

    padding:15px 25px;

    border-radius:12px;

    cursor:pointer;

    font-size:16px;

    transition:.3s;

}

.search-form button:hover{

    background:#1d4ed8;

}

.paper-card{

    background:white;

    padding:25px;

    border-radius:15px;

    margin-bottom:25px;

    box-shadow:0 8px 20px rgba(0,0,0,.08);

    transition:.3s;

}

.paper-card:hover{

    transform:translateY(-5px);

}

.paper-card h2{

    color:#1e40af;

    margin-bottom:10px;

}

.similarity{

    color:#059669;

    font-weight:bold;

    margin-bottom:20px;

}

.paper-card h4{

    margin-top:18px;

    margin-bottom:8px;

    color:#111827;

}

.paper-card p{

    line-height:1.7;

}

.badges{

    display:flex;

    flex-wrap:wrap;

    gap:10px;

    margin-top:10px;

}

.badge{

    background:#dbeafe;

    color:#1d4ed8;

    padding:8px 14px;

    border-radius:25px;

    font-size:14px;

}

.entity{

    background:#dcfce7;

    color:#15803d;

}

.loading{

    text-align:center;

    font-size:22px;

    margin-top:40px;

    color:#2563eb;

}

.category{

    margin-top:10px;

    color:#2563eb;

    font-weight:bold;

}

.confidence{

    color:#6b7280;

    margin-bottom:20px;

}